@using System.Globalization;
@using System.Text.Json;
@model IEnumerable<ARROZ.Models.Common>
@{
    ViewData["Title"] = "ARROZ";
    Layout = "_Layout";
    var aux = 0;
    var activeindicator = 0;
    var activeimg = 0;
}

<div class="text-center">
    <h3 class="">PI IV</h3>
    <h6 class="">Análise sobre o preço do Arroz!</h6>
    @if(Model != null)
    {
        <div class="">
        <div class="">
            <canvas id="myChart" style="width:90%; height:70vh"></canvas>
        </div>
        <br>
            <div class="">
                <canvas id="myChart1" style="width:90%; height:70vh"></canvas>
            </div>
            <br>
            <div class="">
                <canvas id="myChart2" style="width:90%; height:70vh"></canvas>
            </div>
            <br>
        <div class="">
                <canvas id="myChart3" style="width:90%; height:70vh"></canvas>
            </div>
        </div>

        
    }
    else
    {
        <div>
        </div>
        <div>
            <i class="fa-solid fa-brush fa-bounce fa-xl"></i>
        </div>
        <div>
            <i class="fa-solid fa-palette fa-bounce fa-lg"></i>
        </div>
    }

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

<script>
    const xValues = [
"2014-01",
"2014-02",
"2014-03",
"2014-04",
"2014-05",
"2014-06",
"2014-07",
"2014-08",
"2014-09",
"2014-10",
"2014-11",
"2014-12",
"2015-01",
"2015-02",
"2015-03",
"2015-04",
"2015-05",
"2015-06",
"2015-07",
"2015-08",
"2015-09",
"2015-10",
"2015-11",
"2015-12",
"2016-01",
"2016-02",
"2016-03",
"2016-04",
"2016-05",
"2016-06",
"2016-07",
"2016-08",
"2016-09",
"2016-10",
"2016-11",
"2016-12",
"2017-01",
"2017-02",
"2017-03",
"2017-04",
"2017-05",
"2017-06",
"2017-07",
"2017-08",
"2017-09",
"2017-10",
"2017-11",
"2017-12",
"2018-01",
"2018-02",
"2018-03",
"2018-04",
"2018-05",
"2018-06",
"2018-07",
"2018-08",
"2018-09",
"2018-10",
"2018-11",
"2018-12",
"2019-01",
"2019-02",
"2019-03",
"2019-04",
"2019-05",
"2019-06",
"2019-07",
"2019-08",
"2019-09",
"2019-10",
"2019-11",
"2019-12",
"2020-01",
"2020-02",
"2020-03",
"2020-04",
"2020-05",
"2020-06",
"2020-07",
"2020-08",
"2020-09",
"2020-10",
"2020-11",
"2020-12",
"2021-01",
"2021-02",
"2021-03",
"2021-04",
"2021-05",
"2021-06",
"2021-07",
"2021-08",
"2021-09",
"2021-10",
"2021-11",
"2021-12",
"2022-01",
"2022-02",
"2022-03",
"2022-04",
"2022-05",
"2022-06",
"2022-07",
"2022-08",
"2022-09",
"2022-10",
"2022-11",
"2022-12",
"2023-01",
"2023-02",
"2023-03",
"2023-04",
"2023-05",
"2023-06",
"2023-07",
"2023-08",
"2023-09",
"2023-10",
"2023-11",
"2023-12"];
    var consumo = [];
    var precoarroz = [];
    var salario = [];
    var precodolar = [];
    var list = JSON.parse('@Html.Raw(JsonSerializer.Serialize(Model))');
    //alert(JSON.stringify(list));


    var consumomedia = [];
    var precoarrozmedia = [];
    var salariomedia = [];
    var precodolarmedia = [];

    
    var i = 0;
    while (i < xValues.length) {
        //console.log(xValues[i]);
        var consumo1 = list.filter(function(item) {
            return item.ID == 1 && item.ANOMES === xValues[i];
        });

        if(consumo1.length > 0)
        {
            consumo.push(consumo1[0].VALOR);
        }
        else{
            consumo.push(0);
        }

        var precoarroz1 = list.filter(function (item) {
            return item.ID == 2 && item.ANOMES === xValues[i];
        });

        if (precoarroz1.length > 0) {
            precoarroz.push(precoarroz1[0].VALOR);
        }
        else{
            precoarroz.push(0);
        }
        var salario1 = list.filter(function (item) {
            return item.ID == 3 && item.ANOMES === xValues[i];
        });

        if (salario1.length > 0) {
            salario.push(salario1[0].VALOR);
        }
        else {
            salario.push(0);
        }

        var precodolar1 = list.filter(function(item) {
            return item.ID == 4 && item.ANOMES === xValues[i];
        });

        if(precodolar1.length > 0)
        {
            precodolar.push(precodolar1[0].VALOR);
        }
        else{
            precodolar.push(0);
        }
        i++;
    }

    const sumc = consumo.reduce((a, b) => a + b, 0);
    const avgc = (sumc / consumo.length) || 0;
    
    const sumpa = precoarroz.reduce((a, b) => a + b, 0);
    const avgpa = (sumpa / precoarroz.length) || 0;
    
    const sumpd = precodolar.reduce((a, b) => a + b, 0);
    const avgpd = (sumpd / precodolar.length) || 0;

    const sums = salario.reduce((a, b) => a + b, 0);
    const avgs = (sums / salario.length) || 0;

    i = 0;
    while (i < xValues.length) {

        consumomedia.push(avgc);
        precoarrozmedia.push(avgpa);
        salariomedia.push(avgs);
        precodolarmedia.push(avgpd);
        i++;
    }


    //alert(consumo);
    new Chart("myChart", {
    type: "line",
        data: {
        labels: xValues,
            datasets: [
                {
                    fill: false,
                    label: 'Consumo médio',
                    lineTension: 0.1, // Para suavizar as linhas
                    backgroundColor: "rgba(0,0,255,1.0)",
                    borderColor: "rgba(0,0,255,0.1)",
                    data: consumo,
                    yAxisID: 'y-axis-1'
                },
                {
                    fill: false,
                    label: 'Preço do Arroz',
                    lineTension: 0.1,
                    backgroundColor: "red",
                    borderColor: "red",
                    data: precoarroz,
                    yAxisID: 'y-axis-2'
                },
                {
                    fill: false,
                    label: 'Salário Mínimo',
                    lineTension: 0.1,
                    backgroundColor: "green",
                    borderColor: "green",
                    data: salario,
                    yAxisID: 'y-axis-1'
                },
                {
                    fill: false,
                    label: 'Preço do Dólar',
                    lineTension: 0.1,
                    backgroundColor: "violet",
                    borderColor: "violet",
                    data: precodolar,
                    yAxisID: 'y-axis-2'
                }
            ]
    },
    options: {
        responsive: true,
            legend: {
            display: true
        },
        scales: {
            yAxes: [
                {
                    id: 'y-axis-1',
                    type: 'linear',
                    position: 'left',
                    ticks: {
                        beginAtZero: true
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Consumo e Salário'
                    }
                },
                {
                    id: 'y-axis-2',
                    type: 'linear',
                    position: 'right',
                    ticks: {
                        beginAtZero: true
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Preço do Arroz e Dólar'
                    },
                    // Remove as linhas de grade do segundo eixo
                    gridLines: {
                        drawOnChartArea: false
                    }
                }
            ]
        }
    }
    });

    new Chart("myChart1", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [
                {
                    fill: false,
                    label: 'Preço do Arroz',
                    lineTension: 0.1,
                    backgroundColor: "red",
                    borderColor: "red",
                    data: precoarroz,
                    yAxisID: 'y-axis-1'
                },
                {
                    fill: false,
                    label: 'Preço do Dólar',
                    lineTension: 0.1,
                    backgroundColor: "violet",
                    borderColor: "violet",
                    data: precodolar,
                    yAxisID: 'y-axis-2'
                },
                {
                    fill: false,
                    label: 'Média do Preço do Arroz',
                    lineTension: 0.1,
                    backgroundColor: "#ed9a01",
                    borderColor: "#ed9a01",
                    data: precoarrozmedia,
                    yAxisID: 'y-axis-1'
                },
                {
                    fill: false,
                    label: 'Média do Preço do Dólar',
                    lineTension: 0.1,
                    backgroundColor: "#230c44",
                    borderColor: "#230c44",
                    data: precodolarmedia,
                    yAxisID: 'y-axis-2'
                }
            ]
        },
        options: {
            responsive: true,
            legend: {
                display: true
            },
            scales: {
                yAxes: [
                    {
                        id: 'y-axis-1',
                        type: 'linear',
                        position: 'left',
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Preço do Arroz'
                        }
                    },
                    {
                        id: 'y-axis-2',
                        type: 'linear',
                        position: 'right',
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Preço do Dólar'
                        },
                        // Remove as linhas de grade do segundo eixo
                        gridLines: {
                            drawOnChartArea: false
                        }
                    }
                ]
            }
        }
    });

    new Chart("myChart2", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [
                {
                    fill: false,
                    label: 'Preço do Arroz',
                    lineTension: 0.1,
                    backgroundColor: "red",
                    borderColor: "red",
                    data: precoarroz,
                    yAxisID: 'y-axis-1'
                },
                {
                    fill: false,
                    label: 'Cosumo Médio',
                    lineTension: 0.1,
                    backgroundColor: "rgba(0,0,255,1.0)",
                    borderColor: "rgba(0,0,255,1.0)",
                    data: consumo,
                    yAxisID: 'y-axis-2'
                },
                {
                    fill: false,
                    label: 'Média do Preço do Arroz',
                    lineTension: 0.1,
                    backgroundColor: "#ed9a01",
                    borderColor: "#ed9a01",
                    data: precoarrozmedia,
                    yAxisID: 'y-axis-1'
                },
                {
                    fill: false,
                    label: 'Média do Cosumo Médio',
                    lineTension: 0.1,
                    backgroundColor: "#230c44",
                    borderColor: "#230c44",
                    data: consumomedia,
                    yAxisID: 'y-axis-2'
                }
            ]
        },
        options: {
            responsive: true,
            legend: {
                display: true
            },
            scales: {
                yAxes: [
                    {
                        id: 'y-axis-1',
                        type: 'linear',
                        position: 'left',
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Preço do Arroz'
                        }
                    },
                    {
                        id: 'y-axis-2',
                        type: 'linear',
                        position: 'right',
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Consumo Médio'
                        },
                        // Remove as linhas de grade do segundo eixo
                        gridLines: {
                            drawOnChartArea: false
                        }
                    }
                ]
            }
        }
    });

    new Chart("myChart3", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [
                {
                    fill: false,
                    label: 'Preço do Arroz',
                    lineTension: 0.1,
                    backgroundColor: "red",
                    borderColor: "red",
                    data: precoarroz,
                    yAxisID: 'y-axis-1'
                },
                {
                    fill: false,
                    label: 'Salário Mínimo',
                    lineTension: 0.1,
                    backgroundColor: "green",
                    borderColor: "green",
                    data: salario,
                    yAxisID: 'y-axis-2'
                },
                {
                    fill: false,
                    label: 'Média do Preço do Arroz',
                    lineTension: 0.1,
                    backgroundColor: "#ed9a01",
                    borderColor: "#ed9a01",
                    data: precoarrozmedia,
                    yAxisID: 'y-axis-1'
                },
                {
                    fill: false,
                    label: 'Média do Salário Mínimo',
                    lineTension: 0.1,
                    backgroundColor: "#230c44",
                    borderColor: "#230c44",
                    data: salariomedia,
                    yAxisID: 'y-axis-2'
                }
            ]
        },
        options: {
            responsive: true,
            legend: {
                display: true
            },
            scales: {
                yAxes: [
                    {
                        id: 'y-axis-1',
                        type: 'linear',
                        position: 'left',
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Preço do Arroz'
                        }
                    },
                    {
                        id: 'y-axis-2',
                        type: 'linear',
                        position: 'right',
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Salário Mínimo'
                        },
                        // Remove as linhas de grade do segundo eixo
                        gridLines: {
                            drawOnChartArea: false
                        }
                    }
                ]
            }
        }
    });


</script>




@*<script>
        let CreateDOMObjects = () => {
        const DOM = `
            <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
                <div class="vw-plugin-top-wrapper"></div>
            </div>
            </div>
        `;
        document.body.insertAdjacentHTML('beforeend', DOM);
    }
    let ImportScriptFile = () => {
        let script = document.createElement('script');
        script.src = 'https://vlibras.gov.br/app/vlibras-plugin.js';
        script.onload = () => {
            new window.VLibras.Widget('https://vlibras.gov.br/app');
        };
        document.head.appendChild(script)
    }
    (() => {
        window.addEventListener('DOMContentLoaded', e => {
            CreateDOMObjects();
            ImportScriptFile();
        });
    })();
</script>*@



